.order-page {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #111;
}

.order-page h1 {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 700;
}

.order-form {
  display: grid;
  gap: 12px;
  max-width: 500px;
  margin-bottom: 30px;
}

.order-form input {
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.order-form input:focus {
  border-color: #111;
}


.order-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  background: #fafafa;
  border: 1px solid #eee;
}

.order-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #eee;
}

.order-item p {
  margin: 3px 0;
  font-size: 14px;
}

.order-page h2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
}

.order-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.order-btn:hover {
  background: #333;
}

.success-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.success-modal {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  animation: popup 0.3s ease;
}

.success-modal h2 {
  margin-bottom: 15px;
}

.success-modal p {
  color: #555;
  line-height: 1.5;
}

.success-btn {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}

.success-btn:hover {
  transform: translateY(-2px);
}

.oder-info {
  font-size: 15px;
  color: #9ca3af;
  margin: -6px 0 10px 0;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}